<section class="projects">

  <div class="row">
    <h2>Projects</h2>
      <h3>Web, Design &amp other</h3>
    </div>
    <div class="col-3">
      <a href="https://agile-beyond-9343.herokuapp.com/" target="blank"><img class="project-img" src="images/logo-blue-shirt-07-07.png"> </a>
      <h3> LX Riddle </h3>
      <p> A simple  <a href="https://agile-beyond-9343.herokuapp.com/">riddle website </a> built using Node and redis as part of team at Founders and Coders. <a href="https://github.com/liberty-x/lxriddle"> Visit our git repo here </a></p>
    </div>
    <div class="col-3">
      <a href="http://www.whichkimwins.com/" target="blank"><img class="img-elec" src="images/logo-06.png"> </a>
      <h3> Which Kim Wins? </h3>
      <p> Can you guess which Kim Kardashian post got the most likes? A simple game built using the Instgram API, Node.js & Jquery.<p>
    </div>
    <div class="col-3">
      <a href="http://www.thepropertyfunder.space/" target="blank">
      <img class="skills-img" src="images/logo-02.png">
      </a>
      <h3> ProperyFunder </h3>
      <p> A property crowdFunding website, first place winner of London Business School Hackathon. <a href="www.thepropertyfunder.space" target="blank"> The PropertyFunder </a></p>
    </div>
</section>
