<section class="projects">

  <div class="row">
    <h2>Projects</h2>
      <h3>Web, Design &amp other</h3>
    </div>
    <div class="col-3">
      <a href="https://agile-beyond-9343.herokuapp.com/" target="blank"><img class="project-img" src="images/logo-blue-shirt-07-07.png"> </a>
      <h3> LX Riddle </h3>
      <p> A simple  <a href="https://agile-beyond-9343.herokuapp.com/">riddle website </a> built using Node and redis as part of team at Founders and Coders. <a href="https://github.com/liberty-x/lxriddle"> Visit our git repo here </a></p>
    </div>
    <div class="col-3">
      <a href="http://electricmindfulness.com" target="blank"><img class="img-elec" src="images/electricmindfulness logo-03.png"> </a>
      <h3> ELectric Mindfulness </h3>
      <p> Side project running regular mindfulness sessions. Personally delivered branding, marketing content, and website built using a wordpress theme.<p>
    </div>
    <div class="col-3">
      <img class="skills-img" src="images/question-09.png">
      <h3> More to come... </h3>
      <p> Please checkout my <a href="https://www.behance.net/Rachelblondon"> Behance page </a>, <a href="https://github.com/RachBLondon"Github Profile </a> and <a href="https://www.linkedin.com/profile/view?id=AAMAABo1L30BLbwW-F5FzZzaQ3wU0EqVKbSQ34E&trk=hp-identity-name"> Linkedin Profile </a></p>
    </div>
</section>
