<section class="skills">

  <div class="row">
    <div class="col-3">
      <img class="skills-img" src="images/seethrough-ux.png">
      <h3> UX </h3>
      <p> I am all about user centric design. From user research to user testing, creating a great user experience is at the heart of everything I do.</p>
    </div>
    <div class="col-3">
      <img class="skills-img" src="images/seethrough-graphics.png">
      <h3> Visual Design </h3>
      <p> Adobe suite whizz, I love crafting beautiful designs that both convey meaning and delight. From website design to marketing and content material, I can make your brand look good.<p>
    </div>
    <div class="col-3">
      <img class="skills-img" src="images/seethrough-code.png">
      <h3> Code </h3>
      <p> HTML and CSS, JavaScript, bootstrap, JQuery, Wordpress. I am currently learning JS Node as part Founders &amp Coders training bootcamp. Keen to learn more code!</p>
    </div>
  </div>
</section>
