<section class="skills">

  <div class="row">
    <div class="col-3">
      <img class="skills-img" src="images/skills-ux.png">
      <h3> UX </h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sapien lacus. Nunc tristique, ante quis condimentum varius, ante mauris laoreet odio, vitae laoreet augue tellus vitae lectus. Sed augue risus, bibendum a maximus at.</p>
    </div>
    <div class="col-3">
      <img class="skills-img" src="images/skills-design.png">
      <h3> Visual Design </h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sapien lacus. Nunc tristique, ante quis condimentum varius, ante mauris laoreet odio, vitae laoreet augue tellus vitae lectus. Sed augue risus, bibendum a maximus at.</p>
    </div>
    <div class="col-3">
      <img class="skills-img" src="images/skills-code.png">
      <h3> Code </h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sapien lacus. Nunc tristique, ante quis condimentum varius, ante mauris laoreet odio, vitae laoreet augue tellus vitae lectus. Sed augue risus, bibendum a maximus at.</p>
    </div>
  </div>
</section>
