<!-- <nav>
  <ul>
    <li> <a target="_blank" href="https://twitter.com/RachBLondon"> <i class="fa fa-twitter"></i> </a> </li>
    <li> <a target="_blank" href="https://github.com/RachBLondon"> <i class="fa fa-github-alt"></i> </a> </li>
    <li> <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAMAABo1L30BLbwW-F5FzZzaQ3wU0EqVKbSQ34E&trk=hp-identity-name"> <i class="fa fa-linkedin"></i> </a> </li>
  </ul>
</nav> -->

<section class="splash">
  <div class="splash-text">
    <h1> Rachel Black </h1>
    <h4> Frontend Developer </h4>
  </div>

</section>
