<!DOCTYPE html>
<html>
          <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="The Most Epic And Hilarious Sports Bloopers Of All Time" />
        <meta name="twitter:image" content="https://posts-cdn.kueez.net/4hdapF7WEPMTDZDF/image-YCkLKLt0iD6L230n.jpg" />

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include splash.html %}

    <div class="page-content">
      <div class="wrapper">
        {% include skills.html %}
        <!-- {{ content }} -->
        {% include projects.html %}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
